
<!----- start-header---->
<div id="home" class="header">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="#"><img src="images/logo.png" title="Johndeo" /></a>
            </div>
            <!----start-top-nav---->
            <nav class="top-nav">
                <ul class="top-nav">
                    <li class="active"><a href="/" class="scroll">About</a><span> </span></li>
                    <li> <NavLink href="/work" Match=NavLinkMatch.Prefix class="scroll">Work</NavLink></li>
                    <li>
                        <NavLink href="/contact" Match=NavLinkMatch.Prefix class="scroll">Contact</NavLink>
                   </li>
                </ul>
                <a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"> </div>
            <!----top-header-info--->
            <div class="top-header-info">
                <p>
                    Holla,<br />
                    I'm John Doe. <br />
                    A freelance UI / UX / Web Designer.<br />
                    Based in Boston<br />
                </p>
                <a class="contactme" href="#">CONTACT ME</a>
            </div>
            <!----//End-header-info--->
        </div>
    </div>
</div>
<!----- //End-header---->