@page "/contact"
<!---- CONTACT ----->
<div id="contact" class="contact">
    <div class="container">
        <h2>WAYS TO<br />CONTACT ME</h2>
        <span> </span>
        <!----contact-grids---->
        <div class="contact-grids">
            <div class="col-md-6 contact-left">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <form>
                    <input type="text" value="Your beautiful name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your beautiful name';}">
                    <input type="text" value="Your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email address';}">
                    <textarea rows="2" cols="70" onfocus="if(this.value == 'Leave your message') this.value='';" onblur="if(this.value == '') this.value='Leave your message';">Leave your message</textarea>
                    <input type="submit" value="SEND MESSAGE" />
                    <div class="clearfix"> </div>
                </form>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-6 contact-right">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="address">
                    <label>HOLLA@JOHNDOE.DEV</label>
                    <label>+1 (234) 5678901</label>
                    <label>715A CD58</label>
                </div>
                <div class="clearfix"> </div>
                <div class="address">
                    <label>CREATIVE BUILDING 58</label>
                    <label>3083 Romines Mill Road</label>
                    <label>Boston, MA 02201  </label>
                </div>
                <div class="clearfix"> </div>
                <div class="social-share">
                    <h4>ON SOCIAL</h4>
                    <ul class="unstyled-list list-inline">
                        <li><a class="facebook" href="#"><span> </span></a></li>
                        <li><a class="twitter" href="#"><span> </span></a></li>
                        <li><a class="googlepluse" href="#"><span> </span></a></li>
                        <li><a class="dribbble" href="#"><span> </span></a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!---- CONTACT ----->