@using WebApplicationBlazor.Shared
@page "/work"


   

    <!---- WORKS ---->
    <div id="work" class="works">
        <div class="container">
            <h2>MY<br />WORKS</h2>
            <span> </span>
        </div>
        <!---- partners ---->
        <div class="partners">
            <!----sreen-gallery-cursual---->
            <div class="sreen-gallery-cursual">
              
                <!-- start content_slider -->
                <div class="container">
                    <div id="owl-demo" class="owl-carousel">
                        <div class="item">
                            <img class="lazyOwl" data-src="images/screen1.jpg" alt="screen-name">
                            <label>PROJECT TITLE</label>
                        </div>
                        <div class="item">
                            <img class="lazyOwl" data-src="images/screen2.jpg" alt="screen-name">
                            <label>PROJECT TITLE</label>
                        </div>
                        <div class="item">
                            <img class="lazyOwl" data-src="images/screen3.jpg" alt="screen-name">
                            <label>PROJECT TITLE</label>
                        </div>
                        <div class="item">
                            <img class="lazyOwl" data-src="images/screen4.jpg" alt="screen-name">
                            <label>PROJECT TITLE</label>
                        </div>
                        <div class="item">
                            <img class="lazyOwl" data-src="images/screen5.jpg" alt="screen-name">
                            <label>PROJECT TITLE</label>
                        </div>
                        <div class="item">
                            <img class="lazyOwl" data-src="images/screen1.jpg" alt="screen-name">
                            <label>PROJECT TITLE</label>
                        </div>
                        <div class="item">
                            <img class="lazyOwl" data-src="images/screen2.jpg" alt="screen-name">
                            <label>PROJECT TITLE</label>
                        </div>
                        <div class="item">
                            <img class="lazyOwl" data-src="images/screen3.jpg" alt="screen-name">
                            <label>PROJECT TITLE</label>
                        </div>
                    </div>
                </div>
                <!--//sreen-gallery-cursual---->
            </div>
            <!---- //partners ---->
            <!----project-grid---->
            <div class="project-grid">
                <div class="container">
                    <img class="project-screen" src="images/screen.jpg" title="name" />
                    <div class="project-grid-info">
                        <div class="col-md-3 project-grid-info-left">
                            <h3>CLIENT:</h3>
                            <label>Some Company</label>
                            <h3>WEBSITE:</h3>
                            <label><a href="#">http://www.somedomain.com</a></label>
                            <a class="sitedemo" href="#">VISIT LIVE SITE</a>
                        </div>
                        <div class="col-md-9 project-grid-info-left">
                            <h3><a href="#">PROJECT TITLE</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam uptatem.</p>
                            <ul class="project-share unstyled-list list-inline">
                                <li><a class="p-like" href="#"><label> </label> 144 LIKES</a></li>
                                <li><a class="p-share" href="#"><label> </label> SHARE</a></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <!----project-grid---->
        </div>
    </div>
    <!---- //WORKS ---->

